{% extends "base.html" %}
{% block title %}Home - Watch{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% block content %}

<div class="jumbotron" style="height:920px">
	<div id="songsDiv">
		{% if liked_songs != None and song in liked_songs %}
			<div style="float:left; width:1280px; display:block; margin-right:80px">
				<video autoplay controls width="1280" height="720" onloadstart="this.volume=0.1" style="background-image: url('/static/black.jpg')">
					<source src='/static/music/{{song + ".mp4"}}' type="video/mp4">
				</video>
				<h2>{{song}}</h2>

				<button style="border: none; background-color: Transparent" type="button" onclick="onLike1()">
					<img src={{url_for("static", filename="images/BlueLike.png")}} width="25" height="25" id="like1">
				</button>
				<span id="Likes1">{{song_likes}}</span><span> Likes</span>

				<button style="border: none; background-color: Transparent" type="button" onclick="onDislike1()">
					<img src={{url_for("static", filename="images/GrayDislike.png")}} width="25" height="25" id="dislike1">
				</button>
				<span id="Dislikes1">{{song_dislikes}}</span><span> Dislikes</span>

				{% if my_playlist != "" and song in my_playlist %}
					<button style="border: none; background-color: Transparent" type="button" onclick="onAdd1()">
						<img src={{url_for("static", filename="images/BlueAdded.png")}} width="25" height="25" id="add1">
					</button>
					<span id="addText1">Added To Playlist</span>
				{% else %}
					<button style="border: none; background-color: Transparent" type="button" onclick="onAdd11()">
						<img src={{url_for("static", filename="images/GrayAdd.png")}} width="25" height="25" id="add11">
					</button>
					<span id="addText11">Add To Playlist</span>
				{% endif %}
			</div>

		{% elif disliked_songs != None and song in disliked_songs %}
			<div style="float:left; width:1280px; display:block; margin-right:80px">
				<video autoplay controls width="1280" height="720" onloadstart="this.volume=0.1" style="background-image: url('/static/black.jpg')">
					<source src='/static/music/{{song + ".mp4"}}' type="video/mp4">
				</video>
				<h2>{{song}}</h2>

				<button style="border: none; background-color: Transparent" type="button" onclick="onLike2()">
					<img src={{url_for("static", filename="images/GrayLike.png")}} width="25" height="25" id="like2">
				</button>
				<span id="Likes2">{{song_likes}}</span><span> Likes</span>

				<button style="border: none; background-color: Transparent" type="button" onclick="onDislike2()">
					<img src={{url_for("static", filename="images/BlueDislike.png")}} width="25" height="25" id="dislike2">
				</button>
				<span id="Dislikes2">{{song_dislikes}}</span><span> Dislikes</span>

				{% if my_playlist != "" and song in my_playlist %}
					<button style="border: none; background-color: Transparent" type="button" onclick="onAdd2()">
						<img src={{url_for("static", filename="images/BlueAdded.png")}} width="25" height="25" id="add2">
					</button>
					<span id="addText2">Added To Playlist</span>
				{% else %}
					<button style="border: none; background-color: Transparent" type="button" onclick="onAdd22()">
						<img src={{url_for("static", filename="images/GrayAdd.png")}} width="25" height="25" id="add22">
					</button>
					<span id="addText22">Add To Playlist</span>
				{% endif %}
			</div>

		{% else %}
			<div style="float:left; width:1280px; display:block; margin-right:80px">
				<video autoplay controls width="1280" height="720" onloadstart="this.volume=0.1" style="background-image: url('/static/black.jpg')">
					<source src='/static/music/{{song + ".mp4"}}' type="video/mp4">
				</video>
				<h2 id="songName">{{song}}</h2>

				<button style="border: none; background-color: Transparent" type="button" onclick="onLike()">
					<img src={{url_for("static", filename="images/GrayLike.png")}} width="25" height="25" id="like">
				</button>
				<span id="Likes">{{song_likes}}</span><span> Likes</span>

				<button style="border: none; background-color: Transparent" type="button" onclick="onDislike()">
					<img src={{url_for("static", filename="images/GrayDislike.png")}} width="25" height="25" id="dislike">
				</button>
				<span id="Dislikes">{{song_dislikes}}</span><span> Dislikes &nbsp;</span>

				{% if my_playlist != "" and song in my_playlist %}
					<button style="border: none; background-color: Transparent" type="button" onclick="onAdd()">
						<img src={{url_for("static", filename="images/BlueAdded.png")}} width="25" height="25" id="add">
					</button>
					<span id="addText">Added To Playlist</span>
				{% else %}
					<button style="border: none; background-color: Transparent" type="button" onclick="onAdd0()">
						<img src={{url_for("static", filename="images/GrayAdd.png")}} width="25" height="25" id="add0">
					</button>
					<span id="addText0">Add To Playlist</span>
				{% endif %}
			</div>
		{% endif %}


		<div id="nextSongs">
			{% if playlist|length < playlist.index(song+ ".mp4")+2 %}
				{% if playlist[0].split(".")[0]|length > 52 %}
					<div style="margin-bottom:40px">
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[0]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[0].split(".")[0]}}'>{{playlist[0].split(".")[0][0:52]}}...</a>
					</div>
				{% else %}
					<div style="margin-bottom:40px">
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[0]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[0].split(".")[0]}}'>{{playlist[0].split(".")[0]}}</a>
					</div>
				{% endif %}
				{% if playlist[1].split(".")[0]|length > 52 %}
					<div>
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[1]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[1].split(".")[0]}}'>{{playlist[1].split(".")[0][0:52]}}...</a>
					</div>
				{% else %}
					<div>
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[1]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[1].split(".")[0]}}'>{{playlist[1].split(".")[0]}}</a>
					</div>
				{% endif %}

			{% elif playlist|length == playlist.index(song+ ".mp4")+2 %}
				{% if playlist[playlist.index(song+ ".mp4")+1].split(".")[0]|length > 52 %}
					<div style="margin-bottom:40px">
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[playlist.index(song+ ".mp4")+1]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[playlist.index(song+ ".mp4")+1].split(".")[0]}}'>{{playlist[playlist.index(song+ ".mp4")+1].split(".")[0][0:52]}}...</a>
					</div>
				{% else %}
					<div style="margin-bottom:40px">
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[playlist.index(song+ ".mp4")+1]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[playlist.index(song+ ".mp4")+1].split(".")[0]}}'>{{playlist[playlist.index(song+ ".mp4")+1].split(".")[0]}}</a>
					</div>
				{% endif %}
				{% if playlist[0].split(".")[0]|length > 52 %}
					<div style="margin-bottom:40px">
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[0]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[0].split(".")[0]}}'>{{playlist[0].split(".")[0][0:52]}}...</a>
					</div>
				{% else %}
					<div style="margin-bottom:40px">
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[0]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[0].split(".")[0]}}'>{{playlist[0].split(".")[0]}}</a>
					</div>
				{% endif %}

			{% else %}
				{% if playlist[playlist.index(song+ ".mp4")+1].split(".")[0]|length > 52 %}
					<div style="margin-bottom:40px">
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[playlist.index(song+ ".mp4")+1]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[playlist.index(song+ ".mp4")+1].split(".")[0]}}'>{{playlist[playlist.index(song+ ".mp4")+1].split(".")[0][0:52]}}...</a>
					</div>
				{% else %}
					<div style="margin-bottom:40px">
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[playlist.index(song+ ".mp4")+1]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[playlist.index(song+ ".mp4")+1].split(".")[0]}}'>{{playlist[playlist.index(song+ ".mp4")+1].split(".")[0]}}</a>
					</div>
				{% endif %}
				{% if playlist[playlist.index(song+ ".mp4")+2].split(".")[0]|length > 52 %}
					<div>
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[playlist.index(song+ ".mp4")+2]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[playlist.index(song+ ".mp4")+2].split(".")[0]}}'>{{playlist[playlist.index(song+ ".mp4")+2].split(".")[0][0:52]}}...</a>
					</div>
				{% else %}
					<div>
						<video muted autoplay width="426" height="240" style="background-image: url('/static/black.jpg')">
							<source src='/static/music/{{playlist[playlist.index(song+ ".mp4")+2]}}' type="video/mp4">
						</video>
						<br>
						<a class="text-primary" href='/home/{{playlist[playlist.index(song+ ".mp4")+2].split(".")[0]}}'>{{playlist[playlist.index(song+ ".mp4")+2].split(".")[0]}}</a>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>

<script>
	var socket = io('http://' + document.domain + ':' + location.port);

	socket.on('connect', function() {
    console.log("Connected!");
	});

	socket.on('disconnect', function() {
    console.log("Disconnected!");
	});

	function onAdd()
	{
		var addButton = document.getElementById("add");
		var addText = document.getElementById("addText");
		var songName = document.getElementById("songName");

		if(addButton.getAttribute('src') == '{{url_for("static", filename="images/BlueAdded.png")}}')
		{
			addButton.src = '{{url_for("static", filename="images/GrayAdd.png")}}';
			addText.textContent = "Add To Playlist";

			socket.emit("removeSongFromPlaylist", songName.textContent);
		}
		else
		{
			addButton.src = '{{url_for("static", filename="images/BlueAdded.png")}}';
			addText.textContent = "Added To Playlist";

			socket.emit("addSongToPlaylist", songName.textContent);
		}
	}

	function onAdd0()
	{
		var addButton = document.getElementById("add0");
		var addText = document.getElementById("addText0");
		var songName = document.getElementById("songName");

		if(addButton.getAttribute('src') == '{{url_for("static", filename="images/BlueAdded.png")}}')
		{
			addButton.src = '{{url_for("static", filename="images/GrayAdd.png")}}';
			addText.textContent = "Add To Playlist";

			socket.emit("removeSongFromPlaylist", songName.textContent);
		}
		else
		{
			addButton.src = '{{url_for("static", filename="images/BlueAdded.png")}}';
			addText.textContent = "Added To Playlist";

			socket.emit("addSongToPlaylist", songName.textContent);
		}
	}

	function onAdd1()
	{
		var addButton = document.getElementById("add1");
		var addText = document.getElementById("addText1");
		var songName = document.getElementById("songName");

		if(addButton.getAttribute('src') == '{{url_for("static", filename="images/BlueAdded.png")}}')
		{
			addButton.src = '{{url_for("static", filename="images/GrayAdd.png")}}';
			addText.textContent = "Add To Playlist";

			socket.emit("removeSongFromPlaylist", songName.textContent);
		}
		else
		{
			addButton.src = '{{url_for("static", filename="images/BlueAdded.png")}}';
			addText.textContent = "Added To Playlist";

			socket.emit("addSongToPlaylist", songName.textContent);
		}
	}

	function onAdd11()
	{
		var addButton = document.getElementById("add11");
		var addText = document.getElementById("addText11");
		var songName = document.getElementById("songName");

		if(addButton.getAttribute('src') == '{{url_for("static", filename="images/BlueAdded.png")}}')
		{
			addButton.src = '{{url_for("static", filename="images/GrayAdd.png")}}';
			addText.textContent = "Add To Playlist";

			socket.emit("removeSongFromPlaylist", songName.textContent);
		}
		else
		{
			addButton.src = '{{url_for("static", filename="images/BlueAdded.png")}}';
			addText.textContent = "Added To Playlist";

			socket.emit("addSongToPlaylist", songName.textContent);
		}
	}

	function onAdd2()
	{
		var addButton = document.getElementById("add2");
		var addText = document.getElementById("addText2");
		var songName = document.getElementById("songName");

		if(addButton.getAttribute('src') == '{{url_for("static", filename="images/BlueAdded.png")}}')
		{
			addButton.src = '{{url_for("static", filename="images/GrayAdd.png")}}';
			addText.textContent = "Add To Playlist";

			socket.emit("removeSongFromPlaylist", songName.textContent);
		}
		else
		{
			addButton.src = '{{url_for("static", filename="images/BlueAdded.png")}}';
			addText.textContent = "Added To Playlist";

			socket.emit("addSongToPlaylist", songName.textContent);
		}
	}

	function onAdd22()
	{
		var addButton = document.getElementById("add22");
		var addText = document.getElementById("addText22");
		var songName = document.getElementById("songName");

		if(addButton.getAttribute('src') == '{{url_for("static", filename="images/BlueAdded.png")}}')
		{
			addButton.src = '{{url_for("static", filename="images/GrayAdd.png")}}';
			addText.textContent = "Add To Playlist";

			socket.emit("removeSongFromPlaylist", songName.textContent);
		}
		else
		{
			addButton.src = '{{url_for("static", filename="images/BlueAdded.png")}}';
			addText.textContent = "Added To Playlist";

			socket.emit("addSongToPlaylist", songName.textContent);
		}
	}


	function onLike()
	{
		var likeImage = document.getElementById("like");
		var dislikeImage = document.getElementById("dislike");
		var likesAmount = document.getElementById("Likes");
		var dislikesAmount = document.getElementById("Dislikes");

		var songName = document.getElementById("songName");

		if(likeImage.getAttribute('src') == '{{url_for("static", filename="images/GrayLike.png")}}')
		{
			likeImage.src = '{{url_for("static", filename="images/BlueLike.png")}}';
			dislikeImage.src = '{{url_for("static", filename="images/GrayDislike.png")}}';
			likesAmount.innerHTML = parseInt(likesAmount.innerHTML) + 1;
			if(dislikesAmount.innerHTML != 0)
			{
				dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) - 1;
			}
			socket.emit("addSongToLikes", songName.textContent);
		}
		else
		{
			likeImage.src = '{{url_for("static", filename="images/GrayLike.png")}}';
			likesAmount.innerHTML = parseInt(likesAmount.innerHTML) - 1;

			socket.emit("removeSongFromLikes", songName.textContent);
		}
	}

	function onDislike()
	{
		var likeImage = document.getElementById("like");
		var dislikeImage = document.getElementById("dislike");
		var likesAmount = document.getElementById("Likes");
		var dislikesAmount = document.getElementById("Dislikes");

		var songName = document.getElementById("songName");

		if(dislikeImage.getAttribute('src') == '{{url_for("static", filename="images/GrayDislike.png")}}'){
			dislikeImage.src = '{{url_for("static", filename="images/BlueDislike.png")}}';
			likeImage.src = '{{url_for("static", filename="images/GrayLike.png")}}';
			dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) + 1;
			if(likesAmount.innerHTML != 0){
				likesAmount.innerHTML = parseInt(likesAmount.innerHTML) - 1;
			}
			socket.emit("addSongToDislikes", songName.textContent);
		}
		else{
			dislikeImage.src = '{{url_for("static", filename="images/GrayDislike.png")}}';
			dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) - 1;

			socket.emit("removeSongFromDislikes", songName.textContent);
		}
	}

	function onLike1()
	{
		var likeImage = document.getElementById("like1");
		var dislikeImage = document.getElementById("dislike1");
		var likesAmount = document.getElementById("Likes1");
		var dislikesAmount = document.getElementById("Dislikes1");

		var songName = document.getElementById("songName");

		if(likeImage.getAttribute('src') == '{{url_for("static", filename="images/GrayLike.png")}}')
		{
			likeImage.src = '{{url_for("static", filename="images/BlueLike.png")}}';
			dislikeImage.src = '{{url_for("static", filename="images/GrayDislike.png")}}';
			likesAmount.innerHTML = parseInt(likesAmount.innerHTML) + 1;
			if(dislikesAmount.innerHTML != 0)
			{
				dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) - 1;
			}
			socket.emit("addSongToLikes", songName.textContent);
		}
		else
		{
			likeImage.src = '{{url_for("static", filename="images/GrayLike.png")}}';
			likesAmount.innerHTML = parseInt(likesAmount.innerHTML) - 1;

			socket.emit("removeSongFromLikes", songName.textContent);
		}
	}

	function onDislike1()
	{
		var likeImage = document.getElementById("like1");
		var dislikeImage = document.getElementById("dislike1");
		var likesAmount = document.getElementById("Likes1");
		var dislikesAmount = document.getElementById("Dislikes1");

		var songName = document.getElementById("songName");

		if(dislikeImage.getAttribute('src') == '{{url_for("static", filename="images/GrayDislike.png")}}'){
			dislikeImage.src = '{{url_for("static", filename="images/BlueDislike.png")}}';
			likeImage.src = '{{url_for("static", filename="images/GrayLike.png")}}';
			dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) + 1;
			if(likesAmount.innerHTML != 0){
				likesAmount.innerHTML = parseInt(likesAmount.innerHTML) - 1;
			}
			socket.emit("addSongToDislikes", songName.textContent);
		}
		else{
			dislikeImage.src = '{{url_for("static", filename="images/GrayDislike.png")}}';
			dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) - 1;

			socket.emit("removeSongFromDislikes", songName.textContent);
		}
	}

	function onLike2()
	{
		var likeImage = document.getElementById("like2");
		var dislikeImage = document.getElementById("dislike2");
		var likesAmount = document.getElementById("Likes2");
		var dislikesAmount = document.getElementById("Dislikes2");

		var songName = document.getElementById("songName");

		if(likeImage.getAttribute('src') == '{{url_for("static", filename="images/GrayLike.png")}}')
		{
			likeImage.src = '{{url_for("static", filename="images/BlueLike.png")}}';
			dislikeImage.src = '{{url_for("static", filename="images/GrayDislike.png")}}';
			likesAmount.innerHTML = parseInt(likesAmount.innerHTML) + 1;
			if(dislikesAmount.innerHTML != 0)
			{
				dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) - 1;
			}
			socket.emit("addSongToLikes", songName.textContent);
		}
		else
		{
			likeImage.src = '{{url_for("static", filename="images/GrayLike.png")}}';
			likesAmount.innerHTML = parseInt(likesAmount.innerHTML) - 1;

			socket.emit("removeSongFromLikes", songName.textContent);
		}
	}

	function onDislike2()
	{
		var likeImage = document.getElementById("like2");
		var dislikeImage = document.getElementById("dislike2");
		var likesAmount = document.getElementById("Likes2");
		var dislikesAmount = document.getElementById("Dislikes2");

		var songName = document.getElementById("songName");

		if(dislikeImage.getAttribute('src') == '{{url_for("static", filename="images/GrayDislike.png")}}'){
			dislikeImage.src = '{{url_for("static", filename="images/BlueDislike.png")}}';
			likeImage.src = '{{url_for("static", filename="images/GrayLike.png")}}';
			dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) + 1;
			if(likesAmount.innerHTML != 0){
				likesAmount.innerHTML = parseInt(likesAmount.innerHTML) - 1;
			}
			socket.emit("addSongToDislikes", songName.textContent);
		}
		else{
			dislikeImage.src = '{{url_for("static", filename="images/GrayDislike.png")}}';
			dislikesAmount.innerHTML = parseInt(dislikesAmount.innerHTML) - 1;

			socket.emit("removeSongFromDislikes", songName.textContent);
		}
	}

</script>

{% endblock %}